<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.miscalculation" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" /> <data android:scheme="file" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.miscalculation.ProductList"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name="com.example.miscalculation.AddWindowActivity">
        </activity>

        <activity
            android:name="com.example.miscalculation.AddAluminWindowActivity">
        </activity>

        <activity
            android:name="com.example.miscalculation.AddDopActivity">
        </activity>

        <activity
            android:name="com.example.miscalculation.AddDoorActivity">
        </activity>

        <activity
            android:name="com.example.miscalculation.ChangeActivity">
        </activity>

        <activity
            android:name="com.example.miscalculation.ContinePrice">
        </activity>

        <activity
            android:name="com.example.miscalculation.Bank">
        </activity>

        <activity
            android:name="com.example.miscalculation.AddWorkActivity">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>